


.card {
    min-width: 80%;
    min-height: 40px;
    border: black solid;
}

.card {
    position: relative;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #00000020;
    border-radius: 0.8rem;
    margin-left: 3vh;
    margin-right: 3vh;
}

.Head_Title {
    font-weight: bold;
    font-size: 25px;
    color: #402860;
}


ul li {
    list-style: none;
    padding-left: 50px;
    position: relative;
  }
  
  ul li:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 5px;
    display: inline-block;
    height: 30px;
    width: 30px;
    background-size: contain;
    background-image: url("./Image/Jam4.png");
  }